body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
header {
    background-color: #0B0338;
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 20px 10px;
}

.h-1 {
   margin-left: 150px;
}
.h-2 {
    margin-right: 50px;
}
.h-1 a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
    margin: 10px;
}
.h-2 a {
    color: white;
    text-decoration: none;
}
button {

}